.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2em;
}

#tweet-text {
  min-width: 100%;
  max-width: 100%;
  margin-top: .3em;
  border: none;
  background: none;
  resize: none;
  overflow-y: auto;
  border-bottom: 5px solid #55524d;
}

.counter {
  font-family: 'Bungee', cursive;
}

.invalid {
  color: #FF0000
}

button {
  color: white;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  display:inline-block;
  padding: 0.2em 0.5em;
  border: 0;
  transition: all 0.2s;
}

#tweet-below {
  display: flex;
  justify-content: space-between;
  padding: 0em 0em 1em;
}

#error-message {
  border-style: solid;
  color: #FF0000;
  background-color: rgba(255, 0, 0, 0.3);
  border-width: 4px;
  display: none;
  padding: 1em;
  margin-bottom: 1em;
}